* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100vh;
    background: orange;
}

nav a,
i {
    color: white;
    font-size: 30px;
    font-weight: 900;
}

nav {
    width: 100%;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 99;
    position: fixed;
}

nav .center-nav {
    width: 25%;
    display: flex;
    justify-content: space-between;
}

nav .center-nav a {
    font-size: 18px;
    font-weight: 500;
}

.one {
    width: 100%;
    height: 100vh;
    background: linear-gradient(orange, rgb(224, 72, 2));
    display: flex;
    justify-content: center;
    align-items: center;
}

.one h1 {
    position: absolute;
    font-size: 300px;
    color: white;
}

#fanta {
    position: absolute;
    width: 40%;
    z-index: 2;
}

#img2 {
    position: absolute;
    top: 5%;
    left: 32%;
    width: 15%;
    z-index: 1;
}

#img3 {
    position: absolute;
    top: 58%;
    left: 52%;
    width: 20%;
    z-index: 3;
}

#img4 {
    position: absolute;
    top: 60%;
    left: 78%;
    width: 10%;
    transform: rotate(180deg);
}

#img5 {
    position: absolute;
    top: 20%;
    left: 11%;
    width: 12%;
    transform: rotate(22deg);
}

#img6 {
    position: absolute;
    top: 6%;
    right: 0;
    width: 18%;
}

.two {
    width: 100%;
    height: 100vh;
    background: rgb(237, 174, 127);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left,
.right {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

svg {
    margin-top: 50vh;
    width: 90%;
    transform: rotateX(60deg);
}

.right {
    padding-right: 70px;
    flex-direction: column;
    text-align: justify;
}

.right h2 {
    font-size: 60px;
    margin-bottom: 30px;
}

.right p {
    color: rgb(81, 80, 80);
    line-height: 20px;
}

.three {
    width: 100%;
    height: 100vh;
    background: rgb(237, 174, 127);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}

.card {
    width: 25%;
    margin-top: 10%;
    background: rgb(238, 237, 237);
    height: 70%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.card h1 {
    margin-top: 250px;
    font-size: 60px;
}

.card button {
    padding: 15px 40px;
    border-radius: 50px;
    border: none;
    background: rgb(239, 94, 3);
    color: white;
    font-weight: 500;
}

#coco {
    position: absolute;
    width: 25%;
    top: 15%;
}

#pepsi {
    position: absolute;
    width: 19%;
    top: 15%;
}

/* .coco {
    background: rgb(247, 147, 147);
}

.pepsi {
    background: rgb(182, 196, 240);
}

.fanta {
    background: rgb(241, 228, 205);
} */

.lemon{
    width: 22%;
    position: absolute;
    top: 0;
}